Django==2.0.9
wagtail==2.2.2
django-embed-video==1.2.0
django-modelcluster==4.2
django-taggit==0.23.0
wagtail-embed-videos==0.4.2
wagtail-metadata==2.0.1
Babel==2.6.0
wagtailmenus==2.11.1
wagtail-condensedinlinepanel==0.5.0
