{% load static %}

<div class="newsletter">
    <div class="newsletter_title">Newsletter</div>
    <div class="newsletter_subtitle">Join the Fam with no spam</div>

<!-- Begin Mailchimp Signup Form -->
	<div id="mc_embed_signup" class="form_container">
		<form action="https://kickit.us7.list-manage.com/subscribe/post?u=32e09dcf4a7229c803049b7fa&amp;id=223c37b432" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
				<div class="mc-field-group">
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email">
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true">
					<input type="text" name="b_32e09dcf4a7229c803049b7fa_223c37b432" tabindex="-1" value="">
				</div>
				<input id="submit" type="submit" value="Kick It!" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
		</form>
	</div>

<!--End mc_embed_signup-->

</div>
<div class="footer_main">
    <div class="footer_social_container">
        {% include "includes/social.html" %}
    </div>

    <div class="footer_copyright"><i class="far fa-copyright"></i>KickIt 2018 | Dontfuckwithus</div>
    <div class="footer_logo_container">
        <div class="footer_logo">K</div>
    </div>
</div>

