{% load static %}

<div class="newsletter">
    <div class="newsletter_title">Newsletter</div>
    <div class="newsletter_subtitle">Join the Fam with no spam</div>
    <form>
        <input type="email" placeholder="Your email" />
        <button type="submit"><span>Kick It!</span></button>
    </form>
</div>
<div class="footer_main">
    <div class="social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="footer_copyright"><i class="far fa-copyright"></i>KickIt 2018 | Dontfuckwithus</div>
    <div class="footer_logo"><img src="{% static 'assets/logo_footer.png' %}" alt="logo_footer"></div>
</div>