{% load static wagtailcore_tags wagtailmetadata_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        {% meta_tags %}

        <title>KickIt!: {{ page.title }}</title>

    </meta>

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

    {% if page.slug == 'home' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/header_frontpage.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    {% endif %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">

    {# Fonts #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">

    {# Extra CSS #}
    {% block styles %}
    {% endblock %}
</head>
