{% load static wagtailcore_tags wagtailmetadata_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138159489-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-138159489-1');
	</script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8"/>
    
    {% comment %} exclude search page, as it has no Page model {% endcomment %}
    {% if page %}
        {% meta_tags %}
    {% endif %}
    
    <meta property="og:type" content="website" />

    <title>KickIt!: {{ page.title }}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}"/>

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/social.css' %}">

    {% if page.slug == 'home' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/header_frontpage.css' %}">
    {% endif %}

    {# Fonts #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">

    {# Extra CSS #}
    {% block styles %}
    {% endblock %}
</head>
