{% load static wagtailimages_tags %}

<div class="main_posts_grid">
    {% for post in posts %}
        {% with post=post.specific %}
            <div class="main_grid_single">
                <a href="{{ post.url }}">
                    <div class="grid_img_container">
                        {% image post.main_image original as postImage%}
                        <img src="{{ postImage.url }}"/>

                    </div>
                    <div class="main_grid_single_info">
                        <span style="color: {{ post.main_category.color }}">{{ post.main_category.name }}</span>
                        <p>{{ post.title }}</p>
                    </div>
                </a>
            </div>
        {% endwith %}
    {% endfor %}
</div>