{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/social.css' %}">
{% endblock %}

<div class="social">
    <a href="{{ settings.sitesettings.SocialMediaSettings.instagram_account }}" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="{{ settings.sitesettings.SocialMediaSettings.facebook_page }}" target="_blank">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="{{ settings.sitesettings.SocialMediaSettings.twitter_account }}" target="_blank">
        <i class="fab fa-twitter-square"></i>
    </a>
</div>