{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/event.css' %}">
    {% endblock %}

    <script>
        var fb_app_id = '{{ settings.sitesettings.SocialMediaSettings.fb_app_id|escapejs }}';
        var absolute_uri= '{{ request.build_absolute_uri }}';
    </script>

{#    <div class="banner">#}
{#        <div class="main_container">#}
{#            <div class="icon_container">#}
{#                {% with  page.get_parent.specific as podcast_category %}#}
{#                    {% image podcast_category.icon original as icon %}#}
{#                    <img src="{{ icon.url }}" alt="{{ podcast_category.title }}"/>#}
{#                {% endwith %}#}
{#            </div>#}
{#            <div class="banner_title">{{ page.title }}</div>#}
{#            <div class="banner_subtitle"> {{ page.description_tag }} </div>#}
{#        </div>#}
{#    </div>#}

    <div class="event_area">
        <div class="main_container">
            {% include 'includes/social_share.html' %}
        </div>
    </div>

    <div class="main_container post_share_area">

    </div>

    {% block scripts %}
        {{ block.super }}

        <script src="{% static 'js/social.js' %}"></script>
    {% endblock %}

{% endblock %}
