{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/event_index.css' %}">
    {% endblock %}

    {% image page.main_image original as main_image %}
    <div class="banner" style="background-image: url('{{ main_image.url }}');">
        <div class="banner_title">
            <h1>What's on?</h1>
        </div>
    </div>

    <div class="event_grid_area main_container">
        <div class="event_grid_container">

            {% for event in events %}
                {% with event=event.specific %}
                    <div class="event_single">
                        <div class="event_img_container">
                            {% image event.event_image fill-260x260 as event_image%}
                            <img src="{{ event_image.url }}"/>
                        </div>
                        <div class="event_info_container">
                            <div class="event_title">
                                <a href="{{ event.event_link }}" target="_blank">{{ event.title }}</a>
                            </div>
                            <div class="event_date">{{ event.date }}</div>
                            <div class="event_venue">
                                <a href="{{ event.venue_map_link }}" target="_blank">{{ event.venue }}</a>
                            </div>
                            <div class="event_description">{{ event.description }}</div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}

        </div>
    </div>

    {% block scripts %}
        {{ block.super }}

        <script type="text/javascript" src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
        <script>$.endlessPaginate();</script>
    {% endblock %}

{% endblock %}