{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    {% endblock %}

    <div class="banner">
        <div class="main_container">
            <div class="icon_container">
                {% image page.icon original as icon %}
                <img src="{{ icon.url }}" alt="{{ page.title }}"/>
            </div>
        </div>
    </div>

    <div class="message">
        <div class="main_container">
            <h1>Unlucky!</h1>
    
            <h2>Sorry, this page could not be found.</h2>
        </div>
    </div>
{% endblock %}
