{% load static wagtailuserbar compress %}
{% load cookielaw_tags %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}

{% block scripts %}
{% endblock %}

{% compress js %}
<script type="module" src="{% static 'js/main.js' %}"></script>
{% endcompress %}

<body>
    {% wagtailuserbar %}

    {% block header %}
        {# Header contains the main_navigation block #}
        {% include "includes/header.html" with parent=site_root calling_page=self %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    <footer>
        {% include "includes/footer.html" %}
        {% cookielaw_banner %}
    </footer>
</body>

</html>