{% load static wagtailuserbar %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}

<body>
    {% wagtailuserbar %}

    {% block header %}
        {# Header contains the main_navigation block #}
        {% include "includes/header.html" with parent=site_root calling_page=self %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    <footer>
        {% include "includes/footer.html" %}
    </footer>

    {% block scripts %}
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="{% static 'js/KickTestSite.js' %}"></script>
    {% endblock %}

</body>

</html>