{% load static wagtailuserbar %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}

<body>
    {% wagtailuserbar %}

    {% block header %}
        {# Header contains the main_navigation block #}
        {% include "includes/header.html" with parent=site_root calling_page=self %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    <footer>
        {% include "includes/footer.html" %}
    </footer>

    {% block scripts %}
        <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}

</body>

</html>