{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/posts_grid.css' %}">
    {% endblock %}

    <div class="featured_post_container" style="background:{{ page.main_color }}">
        {% image page.icon original as pageImage %}
        <img id="category_image" src="{{ pageImage.url }}" alt="{{ page.title }}"/>

        <div id="category_label">LATEST</div>

        <div class="main_container featured_post_inner">

            {% with blog_featured|first as post %}
            <a class="featured_post_img_container" href="{{ post.url }}">
                {% image post.specific.main_image original as postImage %}
                <div class="featured_post_image" style="background-image: url({{ postImage.url }})"></div>
            </a>
            <div class="featured_post_info">
                <div class="featured_post_title"><a href="{{ post.url }}">{{ post.title  }}</a></div>
                <div class="featured_post_subtitle">{{ post.specific.intro }}</div>
                <div class="featured_post_extra">
                    <p class="author">{{ post.specific.author.name }}</p>
                    <div class="holder">
                        <div class="main_tag">{{ page.title|upper }}</div>
                        /
                        <div class="time">{{ post.specific.greek_date }}</div>
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
    </div>

    <div class="subfeatured_area">
        <div class="main_container">
            <div class="subfeatured_grid">
                {% if blog_featured.1 %}
                    {% with post=blog_featured.1 %}
                        <div class="subfeatured_single"
                            onmouseenter="changeBackground(this, '{{ page.main_color }}')"
                            onmouseleave="resetBackground(this)">
                            <a href="{{ post.url }}">
                                {% image post.specific.main_image original as postImage %}
                                <div class="subfeatured_img_container" style="background-image: url({{ postImage.url }})"></div>
                                <div class="subfeatured_info_container">
                                    <div class="subfeatured_title"><p>{{ post.title }}</p></div>
                                    <div class="subfeatured_text"><p>{{ post.specific.intro }}</p></div>
                                </div>
                            </a>
                        </div>
                    {% endwith %}
                {% endif%}

                {% if blog_featured.2 %}
                    {% with post=blog_featured.2 %}
                        <div class="subfeatured_single"
                             onmouseenter="changeBackground(this, '{{ page.main_color|safe }}')"
                             onmouseleave="resetBackground(this)">
                            <a href="{{ post.url }}">
                                {% image post.specific.main_image original as postImage %}
                                <div class="subfeatured_img_container" style="background-image: url({{ postImage.url }})"></div>
                                <div class="subfeatured_info_container">
                                    <div class="subfeatured_title">{{ post.title }}</div>
                                    <div class="subfeatured_text">{{ post.specific.intro }}</div>
                                </div>
                            </a>
                        </div>
                    {% endwith %}
                {% endif%}
            </div>
        </div>
    </div>

    <div class="posts_area">
        <div class="main_container">
            <div class="main_posts_grid">
                {% include "blog/posts_grid_paginate.html" %}
            </div>
        </div>
    </div>

    {% block scripts %}
        {{ block.super }}

        <script type="text/javascript" src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
        <script>$.endlessPaginate();</script>
    {% endblock %}

{% endblock %}
