{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/posts_grid.css' %}">
    {% endblock %}

    <div class="featured_post_container" style="background: {{ page.main_category.color }}">
        <div class="category_image">
            {% image page.main_category.icon original as pageImage %}
            <img src="{{ pageImage.url }}" alt="{{ page.title }}"/>
        </div>
        <div class="main_container featured_post_inner">

            {% with blog_featured|first as post %}
            <a class="featured_post_img_container" href="{{ post.url }}">
                {% image post.specific.main_image original as postImage %}
                <div class="featured_post_image" style="background-image: url({{ postImage.url }})"></div>
            </a>
            <div class="featured_post_info">
                <div class="featured_post_title"><a href="{{ post.url }}">{{ post.title  }}</a></div>
                <div class="featured_post_subtitle">{{ post.specific.intro }}</div>
                <div class="featured_post_extra">
                    <div class="author">Austin Moderns</div>
                    <div class="holder">
                        <div class="main_tag">{{ page.main_category.name|upper }}</div>
                        /
                        <div class="time">4 hrs ago</div>
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
    </div>

    <div class="subfeatured_area">
        <div class="main_container">
            <div class="subfeatured_grid">
                {% if blog_featured.1 %}
                    {% with blog_featured.1 as post%}
                        <div class="subfeatured_single">
                            {% image post.specific.main_image original as postImage %}
                            <a href="{{ post.url }}">
                                <div class="subfeatured_img_container" style="background-image: url({{ postImage.url }})"></div>
                            </a>
                            <div class="subfeatured_title"><a href="{{ post.url }}">{{ post.title  }}</a></div>
                            <div class="subfeatured_text">{{ post.specific.intro }}</div>
                        </div>
                    {% endwith %}
                {% endif%}

                {% if blog_featured.2 %}
                    {% with blog_featured.2 as post%}
                        <div class="subfeatured_single">
                            {% image post.specific.main_image original as postImage %}
                            <a href="{{ post.url }}">
                                <div class="subfeatured_img_container" style="background-image: url({{ postImage.url }})"></div>
                            </a>
                            <div class="subfeatured_title"><a href="{{ post.url }}">{{ post.title  }}</a></div>
                            <div class="subfeatured_text">{{ post.specific.intro }}</div>
                        </div>
                    {% endwith %}
                {% endif%}
            </div>
        </div>
    </div>

    <div class="posts_area">
        <div class="main_container ">
            {% include "includes/posts_grid.html" with posts=blogpages %}
        </div>
        <div class="load_more_posts"><a href="#">Not enough?</a></div>
    </div>

{% endblock %}