{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/tags_page.css' %}">
        <link rel="stylesheet" href="{% static 'css/posts_grid.css' %}">
    {% endblock %}

    <div class="main_container tags_main_container">
        <div class="tags_banner_container">
            {% image page.icon original as tags_banner %}
            <img src="{{ tags_banner.url }}" alt="{{ page.title }}"/>
        </div>
        {% if request.GET.tag|length %}
            <h4>#{{ request.GET.tag }}</h4>
        {% else %}
            <h4>No pages found with that tag.</h4>
        {% endif %}
    </div>

    <div class="tags_posts_area">
        <div class="main_container">
            <div class="main_posts_grid">
                {% include "blog/posts_grid_paginate.html" %}
            </div>
        </div>
    </div>

    {% block scripts %}
        {{ block.super }}

        <script type="text/javascript" src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
        <script>$.endlessPaginate();</script>
    {% endblock %}

{% endblock %}