{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static wagtailembeds_tags %}

{% block content %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/post.css' %}">
        <link rel="stylesheet" href="{% static 'css/posts_grid.css' %}">

        {% if page.gallery_images %}
        <link rel="stylesheet" href="{% static 'css/lightgallery.css' %}" type="text/css">
        {% endif %}
    {% endblock %}

    {% block scripts %}
    {{ block.super }}
        {% if page.gallery_images %}
        <script src="{% static 'js/lightgallery.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(() => {
            $("#lightgallery").lightGallery({
                pager: true,
                zoom: true
            });
            });
        </script>
        {% endif %}

        <script>
            var fb_app_id = '{{ settings.sitesettings.SocialMediaSettings.fb_app_id|escapejs }}';
            var absolute_uri= '{{ request.build_absolute_uri }}';
        </script>
    {% endblock %}

    {% with page.get_parent as post_category %}
    <div class="post_mobile_banner" style="background: {{ post_category.specific.main_color }}">
        <div id="category_label">
            {% image post_category.specific.mobile_banner original as mobile_banner %}
            <img src="{{ mobile_banner.url }}" alt="{{ post_category.title }}"/>
        </div>
    </div>

    <article class="main_container">
        <div class="main_container post_article_title_area">
            <div class="post_article_title_container">
                <h1 class="post_article_title">{{ page.title }}</h1>
                <div class="post_article_extra">
                    <p class="author">{{ page.specific.author.name }}</p>/
                    <a class="category" style="color: {{ post_category.specific.main_color }};" href="{{ post_category.url }}">{{ post_category.title }}</a>/
                    <div class="time">{{ page.greek_date }}</div>
                </div>
                <div class="post_article_intro">
                    <h2>{{ page.intro }}</h2>
                </div>
            </div>
        </div>

        <div class="main_container post_image_area">
            <div class="post_image_container">
                {% image page.post_image original as pageImage %}
                <img src="{{ pageImage.url }}" alt="{{ page.title }}"/>
            </div>
        </div>

        <div class="main_container post_article_area">
            <div class="post_article_body">{{ page.body|richtext }}</div>
        </div>
        {% endwith %}

        {% if page.gallery_images %}
        <div class="main_container post_gallery_area">
            <div class="gallery">
                <ul id="lightgallery">
                {% for gallery_image in page.gallery_images.all %}
                {% image gallery_image.image original as img %}
                <li data-src="{{ img.url }}">
                    <a href="">
                    {% image gallery_image.image fill-400x300 as thumb %}
                    <img class="img-responsive" src="{{ thumb.url }}">
                    <div class="gallery-poster">
                        <img src="{% static 'assets/zoom.png' %}" alt="zoom"/>
                    </div>
                    </a>
                </li>
                {% endfor %}
                </ul>
            </div>
            </div>
        </div>
        {% endif %}

        {% if page.video_url %}
        <div class="main_container post_video_area">
            <div class="post_video_container">
                {%  include_block page.specific.get_embed_video %}
            </div>
        </div>
        {% endif %}

        <div class="main_container post_share_area">
            {% include 'includes/social_share.html' %}
        </div>

        {% if page.tags.all.count %}
        <div class="main_container post_tags_area">
            <ul>
                {% for tag in page.tags.all %}
                    <li><a href="{% slugurl 'tags' %}?tag={{ tag }}">#{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </article>

    {% if blogpages %}
    <div class="main_container post_related_area">
        <div class="post_related_title_container">
            <div class="post_related_title"><span>RELATED</span></div>
        </div>

        {% include "includes/posts_grid.html" with posts=blogpages %}
    </div>
    {% endif %}

    {% comment %} <p style="display: none;"><a href="{{ page.get_parent.url }}">Return to blog</a></p> {% endcomment %}

    <div class="main_container just_space"></div>

    <script src="{% static 'js/social.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('p > a').attr('target', '_blank');
        });
    </script>

{% endblock %}
