{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/tags_page.css' %}">
        <link rel="stylesheet" href="{% static 'css/posts_grid.css' %}">
    {% endblock %}

    <div class="main_container">
        {% if request.GET.tag|length %}
            <h4>#"{{ request.GET.tag }}"</h4>
        {% else %}
            <h4>No pages found with that tag.</h4>
        {% endif %}
    </div>

    <div class="posts_area" style="margin-bottom:40px;">
        <div class="main_container">
            <div class="main_posts_grid">
                {% include "blog/posts_grid_paginate.html" %}
            </div>
        </div>
    </div>

{% endblock %}