{% load static wagtailimages_tags el_pagination_tags %}

{% lazy_paginate 6 posts %}
    {% for post in posts %}
        {% with post=post.specific %}
            {% with post.get_parent as category%}
            <a href="{{ post.url }}" class="main_grid_single" onmouseenter="changeBackground(this, '{{ category.specific.main_color|safe }}')" onmouseleave="resetBackground(this)">
                <div class="grid_img_container">
                    {% image post.post_image fill-310x200 as postImage%}
                    <img src="{{ postImage.url }}"/>

                </div>
                <div class="main_grid_single_info">
                    <span style="color:{{ category.specific.main_color }}">{{ category.title }}</span>
                    <p>{{ post.title }}</p>
                </div>
            </a>
            {% endwith %}
        {% endwith %}
    {% endfor %}
{% show_more '<button type="button" class="load_more_posts" >Not enough?</button>' %}



