body {
	display: grid;
	grid-template-areas:
		"header"
        "banner"
		"event_grid_area"
		"footer"
}

.banner {
    grid-area: banner;
    height: 500px;
    text-align: center;
    background: #000 no-repeat center;
	background-size: cover;
    display: flex;
    align-items: center;
}

.banner_title {
    width: 100%;
    text-align: center;
}

.banner_title h1 {
	font-family: pfBold;
	color: #ffffff;
    font-size: 66px;
}

.event_grid_area {
    grid-area: event_grid_area;
    padding: 95px 0 20px 0;
}

.event_grid_container {
    display: grid;
    grid-row-gap: 20px;
    padding: 0 50px;
}

.event_single {
    height: 260px;
    display: flex;
}

.event_single a {
    height: 100%;
    display: flex;
}

.event_info_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
}

.event_img_container {
    padding-right: 15px;
    height: 100%;
}

.event_img_container img {
    height: 100%;
}

.event_title {
    font-family: pfBold;
    font-size: 25px;
}

.event_date , .event_venue, .event_description{
    font-family: NDemi;
    font-size: 19px;
}

.event_date, .event_venue {
    text-transform: uppercase;
}

@media screen and (max-width: 725px) {
    .banner {
        height: 400px;
    }

    .banner_title h1 {
        font-size: 50px;
    }

    .event_grid_area {
        padding-top: 60px;
    }

    .event_grid_container {
        padding: 0 25px;
    }

    .event_single {
        height: 200px;
    }

    .event_title {
        font-size: 22px;
    }

    .event_info_container {
        width: 100%;
    }

    .event_date , .event_venue, .event_description{
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .banner {
        height: 250px;
    }

    .event_grid_area {
        padding-top: 40px;
    }

    .event_grid_container {
        padding: 0 10px;
    }

    .event_single {
        height: 200px;
    }

    .event_img_container {
        padding-right: 10px;
        width: 160px;
    }

    .event_img_container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .event_title {
        font-size: 20px;
    }

    .event_info_container {
        padding-bottom: 5px;
    }

    .event_date , .event_venue, .event_description{
        font-size: 14px;
    }
}