@font-face {
	font-family: Neutra-Demi;
}


@font-face {
	font-family: Neutra-Light;
 }

@font-face {
	font-family: Neutra-Bold;
}

@font-face {
	font-family: Neutra-Book;
}

@font-face {
	font-family: PFRegal-Regular;
}

@font-face {
	font-family: PFRegal-Bold;
}
