@font-face {
	font-family: NDemi;
	src: url(../fonts/NDemi.otf);
}

@font-face {
	font-family: NLight;
	src: url(../fonts/NLight.otf);
}

@font-face {
	font-family: NBold;
	src: url(../fonts/NBold.otf);
}

@font-face {
	font-family: NBook;
	src: url(../fonts/NBook.otf);
}

@font-face {
	font-family: pfRegular;
	src: url(../fonts/pfRegular.otf);
}

@font-face {
	font-family: pfBold;
	src: url(../fonts/pfBold.otf);
}

@font-face {
	font-family: pfB-Black;
	src: url(../fonts/pfB-Black.otf);
}