footer {
    grid-area: footer;
}

.newsletter {
	background: #191b1a;
	margin: 0 auto;
	height: 195px;
	text-align: center;
	padding-top: 35px;
}

.newsletter_title, .newsletter_subtitle {
	font-family: PFRegal-Regular;
	color: #fff;
}

.newsletter_title {
	font-size: 45px;
	padding-bottom: 5px;
}

.newsletter_subtitle {
	font-size: 18px;
}

#mc_embed_signup div {
	display: inline-block;
}
.newsletter form {
	padding-top: 35px;
}

.newsletter form input {
	width: 260px;
	height: 28px;
	padding-left: 5px;
	margin-right: 5px;
	font-family: Neutra-Light;
}

.newsletter form #submit {
	font-family: Neutra-Light;
	color: #191b1a;
	width: 100px;
	height: 28px;
	border-radius: 5px;
	background-color: #ffed00;
    box-shadow: none;
	padding: 0;
	margin: 0;
}

.newsletter form #submit:hover {
    cursor: pointer;
}

.newsletter form #submit span {
    font-family: Neutra-Demi;
    font-size: 20px;
    line-height: 15px;
}

.footer_main {
	background: #f7f6f6;
}

.footer_social_container a {
    color: #000;
}

.footer_copyright {
	padding-top: 5px;
	font-family: Neutra-Demi;
	font-size: 23px;
    text-align: center;
    padding-bottom: 17px;
}

.footer_copyright i {
	padding-right: 3px;
	font-size: 15px;
	display: inline-block;
}

.footer_logo_container {
    text-align: center;
    width: 100%;
}

.footer_logo {
    font-family: Neutra-Demi;
	font-size: 70px;
    background: #000;
    color: #ffed00;
    width: 50px;
    padding: 20px 10px;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
	.newsletter form input {
		width: 150px;
	}
}