body {
	display: grid;
	grid-template-areas:
		"header"
		"slider_area"
		"parallax_area"
		"posts_area"
		"footer"
}

.slider_area {
	grid-area: slider_area;
}

.frontpage_slider {
	position: relative;
	height: 100%;
	margin: 0 !important;
    border: none !important;
}

.slider_box {
	width: 60%;
	height: 110px;
	margin: auto;
	margin-top: -115px;
	padding: 20px 10px 20px 30px;
	background-color: #f7f6f6;
	border-radius: 15px;
	position: relative;
    z-index: 100;
}

.slider_box div {
	display: inline-block;
}

.slider_box_title {
	vertical-align: top;
	width: 50%;
}

.slider_box_title a {
    display: initial;
    font-family: Neutra-Bold;
	font-size: 23px;
}

.slider_box_dot {
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background: #000;
	display: inline-block;
	position: absolute;
	margin-top: 20px;
}

.slider_box_text {
	width: 48%;
}

.slider_box_text p {
	font-family: Neutra-Light;
	font-size: 17px;
}

.flex-direction-nav {
	list-style: none;
	position: absolute;
	right: 8%;
	bottom: 10%;
	z-index: 100;
}

.flex-direction-nav li {
	display: inline-block;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background: #ededed;
}

.flex-direction-nav li a {
	color: #888887;
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 2px;
	text-decoration: none;
}

.flex-nav-prev {
	margin-right: 7px;
}

.slides li img {
    width: inherit;
    max-height: 600px;
}

.slider_buttons {
	position: absolute;
	right: 0;
	margin-top: -44px;
	margin-right: 54px;
}

.slider_buttons div {
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background: #ededed;
	display: inline-block;

}

.slider_buttons div:first-child {
	margin-right: 1px;
}

.slider_buttons div a {
	font-size: 12px;
	color: #888887;
	padding-left: 8px;
}

.big_dot {
	height: 195px;
	width:  195px;
	border-radius: 50%;
	background: #ffed00;
	position: absolute;
	right: -13%;
	top: 85%;
	z-index: 100;
}

.main_parallax {
	grid-area: parallax_area;
	margin-top: 40px;
	height: 245px;
	text-align: center;
    background: #000 no-repeat fixed center;
	background-size: cover;
}

.main_parallax_title {
	text-align: center;
	margin-top: 65px;
	z-index: 100;
}

.main_parallax_title p {
	font-family: Neutra-Bold;
	color: #fff;
    font-size: 9vw;
	line-height: 112px;
}

.posts_area {
	grid-area: posts_area;
	background: #f7f6f6;
	padding-bottom: 50px;
}


@media screen and (min-width: 1100px) {
    .main_parallax_title p {
	    font-size: 112px;
    }
}

@media screen and (min-width:501px) and (max-width: 725px) {
    .slider_box {
        height: 80px;
        margin-top: -90px;
    }

    .flex-direction-nav {
        right: 5%;
    }

    .big_dot {
        height: 110px;
        width: 110px;
        right: -8%;
        top: 90%;
    }
}


@media screen and (max-width: 500px) {
    .main_parallax {
	    display: none;
    }

    .big_dot {
	    display: none;
    }

    .slider_box {
        width: 80%;
        height: 75px;
        margin-top: -60px;
    }

    .flex-direction-nav {
        bottom: 4%;
    }

    .posts_area {
        background: #fff;
    }

    .main_grid_single_info {
        padding: 30px 0 0 20px !important;
        display: block !important;
    }


}