html {
	margin: 0;
    overflow-x: hidden;
}

body {
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 300;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
	display: block;
}

a:hover {
    text-decoration: underline;
}


p {
	margin: 0;
}

input, button, submit {
	 border: none;
	 margin: 0;
	 padding: 0;
}

.main_container {
	width: 100%;
	margin: 0 auto;
}

.load_more_posts {
    padding: 25px;
    font-family: NDemi;
    font-size: 30px;
    color: #70706f;
    background: transparent;
}

.endless_container {
    text-align: center;
    position: absolute;
    bottom: 0;
    justify-self: center;
}

.load_more_posts:hover {
    cursor: pointer;
    text-decoration: underline;
}

.endless_loading {
    font-size: 15px;
    font-family: NDemi;
    color: #70706f;
    padding-top: 20px;
    text-transform: uppercase;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.social_button_svg {
    height: 40px;
}

.social_button {
    display: inline-block;
    cursor: pointer;
}

.fa-facebook-share svg path {
    fill: #1f71b8;
}

.fa-twitter-share svg path {
    fill: #009fe3;
}

.fa-tumblr-share svg path {
    fill: #141d33;
}

.share_container {
    text-align: center;
}

.share_title {
    padding-bottom: 15px;
    font-family: NDemi;
    font-size: 16px;
}

.share_social {
    font-size: 38px;
}

.share_social i:hover {
    cursor: pointer;
}

.share_social a {
    display: inline-block;
}

.radio_dot {
    display: none !important;
}

@media screen and (min-width: 1100px) {
        .main_container {
        width: 1050px;
    }
}