nav {
    margin: 55px 0 30px 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    top: 0;
    position: relative;
    background: #ffffff;
    height: 130px;
}

#logo_path {
    fill: #000000;
}

.sticky_menu .menu_holder {
    display: block;
    padding-top: 0;
}

.sticky_menu .menu {
    display: block;
	text-align: center;
	padding-top: 30px;
    margin: 0 auto;
    float: none;
}

.sticky_menu .menu ul li a {
    color: #000000;
}

.sticky_menu .menu ul li:last-child {
    padding-right: 0;
}

.sticky_menu .logo {
	display: block;
	text-align: center;
    width: 190px;
    margin: 0 auto;
}

/*sticky*/
.sticky_menu.sticky {
	background: #191b1a;
	height: 70px;
}

.sticky_menu.sticky .menu_holder {
	display: flex;
	padding-top: 12px;
}

.sticky_menu.sticky .logo {
	display: inline-block;
	width: 110px;
}

.sticky_menu.sticky .logo img {
	height: 40px;
}

.sticky_menu.sticky .menu {
	display: inline-block;
	padding-top: 0;
}

.sticky_menu.sticky .menu ul li a {
    color: #585857;
}

@media screen and (max-width: 725px) {
    nav {
        margin-top: 0;
        height: 70px ;
        background: #191b1a;
    }

    #logo_path {
        fill: #fff;
    }

    .sticky_menu .logo {
        width: 130px;
        display: inline-block;
    }

    .sticky_menu.sticky {
        position: fixed;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    .sticky_menu .menu_holder {
        padding-top: 12px;
    }
}