main {
	grid-template-areas:
        "banner"
        "podcast_area "
		"post_share_area"
}

.banner {
    grid-area: banner;
    padding: 50px 0;
    text-align: center;
}

.banner_title {
    font-family: pfBold;
    font-size: 25px;
    padding-top: 15px;
}

.banner_subtitle {
    font-family: NLight;
    font-size: 20px;
    color: #d70b52;
    padding-top: 10px;
}

.podcast_area {
    grid-area: podcast_area;
}

.podcast_iframe_container {
    padding: 0 30px 30px 30px;
    text-align: center;
    font-family: pfBold;
    font-size: 25px;
    height: 400px;
}

.podcast_area iframe {
    width: 100%;
    height: 100%;
}

.post_share_area {
    grid-area: post_share_area;
    /*text-align: center;*/
    padding-bottom: 30px;
}