body {
	display: grid;
	grid-template-areas:
		"header"
        "banner"
		"podcasts_grid_container"
		"footer"
}

.banner {
    grid-area: banner;
    padding: 50px 0;
    text-align: center;
}

.banner_title {
    font-family: PFRegal-Bold;
    font-size: 25px;
    padding-top: 15px;
}

.podcasts_grid_container {
    grid-area: podcasts_grid_container;
    padding: 0 20px 20px 20px;
}

.podcasts_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
	column-gap: 10px;
	row-gap: 30px;
    position: relative;
    padding-bottom: 80px;
}