.main_posts_grid {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
	column-gap: 35px;
	row-gap: 30px;
	padding-top: 80px;
}

.main_grid_single {
	background: #fff;
    width: 310px;
	height: 370px;
    justify-self: center;
}

.grid_img_container {
    height: 180px;
    overflow: hidden;
}

.grid_img_container img {
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
}

.main_grid_single, .main_grid_single .main_grid_single_info > * {
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
}

.main_grid_single:hover, .main_grid_single:hover .main_grid_single_info > * {
    color: #fff !important;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}

.main_grid_single:hover .grid_img_container img {
    filter: grayscale(1);
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}

.main_grid_single a {
    text-decoration: none;
    height: 100%;
}

.main_grid_single_info {
	padding: 60px 30px 25px 25px;
}

.main_grid_single_info span {
	font-family: NLight;
	font-size: 18px;
	padding-bottom: 15px;
	display: block;
}

.main_grid_single_info p {
	color: #000;
	font-family: NDemi;
	font-size: 20px;
    max-width: 250px;
}

@media screen and (max-width: 500px) {

    .main_grid_single {
        max-width: 350px;
        min-width: 300px;
        height: 350px;
        background: #f7f6f6;
    }

    .main_grid_single_info {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 100%;
    }

    .grid_img_container {
        height: 200px;
        overflow: hidden;
    }

}