body {
	display: grid;
	grid-template-areas:
		"header"
        "post_mobile_banner"
        "post_article_title_area"
        "post_image_area"
        "post_article_area"
        "post_video_area"
        "post_share_area"
        "post_tags_area"
        "post_related_area"
        "just_space"
		"footer"
}

.post_mobile_banner {
    grid-area: post_mobile_banner;
    display: none;
    width: 100%;
    height: 60px;
}

#category_label {
    height: 30px;
    padding: 10px;
}

.post_image_area {
    grid-area: post_image_area;
}

.post_image_container {
    text-align: center;
}

.post_image_container img {
    width: 100%;
}

.post_article_area {
    grid-area: post_article_area;
    padding-top: 60px;
    max-width: 800px;
}

.post_article_title_area {
    grid-area: post_article_title_area;
    padding-top: 50px;
}

.post_article_title_container{
    margin: 0 auto;
    max-width: 810px;
    padding-bottom: 40px;
}

.post_article_intro {
    padding-top: 20px;
    text-align: center;
}

.post_article_title {
    font-family: pfBold;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.post_article_extra {
    font-family: NBold;
    font-size: 12px;
    color: #9d9d9c;
    text-align: center;
}

.post_article_extra > * {
    display: inline-block;
    padding-right: 5px;
}

.post_article_extra .author {
    color: #000000;
}

.post_article_body {
    font-family: NBook;
    font-size: 18px;
    padding-bottom: 55px;
}

.post_article_body .rich-text {
    padding: 0 15px;
}

.post_article_body .rich-text > p {
    padding-bottom: 25px;
    text-align: justify;
    line-height: 25px;
}

.post_article_body .rich-text > p > a {
    display: initial;
    color: #b4214f;
}

.post_article_body .rich-text > img {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: contain;
    max-width: 800px;
    object-position: left;
}

.right {
    object-position: right !important;
}

.left {
    object-position: left !important;
}

.center {
    object-position: center !important;
}

.post_video_area {
    grid-area: post_video_area;
    padding-bottom: 20px;
}

.post_video_container {
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    max-width: 800px;
}

.post_video_container iframe {
    width: 100%;
    height: 400px;
}

.post_share_area {
    grid-area: post_share_area;
    text-align: center;
    padding-bottom: 30px;
}

.post_tags_area {
    grid-area: post_tags_area;
}

.post_tags_area ul {
    list-style: none;
    text-align: center;
}

.post_tags_area ul li {
    display: inline-block;
    font-family: NDemi;
    font-size: 16px;
    padding-right: 17px;
}

.post_tags_area ul li a {
    color: #9d9d9c;
}

.post_related_title_container {
    max-width: 1000px;
    margin: 0 auto;
}

.post_related_title {
    border-bottom: 1px solid #000;
    line-height: 0px;
    margin-left: 15px;
}

.post_related_title span {
    font-family: NBold;
    font-size: 20px;
    background: #fff;
}

.post_tags_area ul li:last-child {
    padding-right: 0;
}

.post_related_area {
    grid-area: post_related_area;
    padding-top: 40px;
}

.main_posts_grid {
    padding-top: 50px !important;
}

.load_more_posts {
    display: none !important;
}

.main_grid_single {
    border: 1px solid #000;
}

.just_space {
    height: 70px;
    grid-area: just_space;
}

.responsive-object {
    padding: 0 !important;
    text-align: left;
}

.responsive-object iframe {
    width: 100%;
    height: 400px;
    max-width: 800px;
}

@media screen and (max-width: 1100px) {
    .post_video_container iframe {
        width: 100%;
        max-width: 800px;
        height: 350px;
    }

    .responsive-object iframe {
        height: 350px;
    }

    .post_related_area .main_posts_grid {
        grid-template-columns: none;
    }

    .post_related_area .main_posts_grid .main_grid_single {
        width: 500px;
        height: 180px;
    }

    .post_related_area .main_posts_grid .grid_img_container,
    .post_related_area .main_posts_grid .main_grid_single_info {
        display: inline-block;
    }

    .post_related_area .main_posts_grid .grid_img_container {
        width: 180px;
        height: 180px;
    }

    .post_related_area .main_posts_grid .grid_img_container img {
        object-fit: cover;
    }

    .post_related_area .main_posts_grid .main_grid_single_info {
        vertical-align: top;
        padding-top: 30px;
    }

}

@media screen and (max-width: 500px) {
    .post_mobile_banner {
        display: block;
    }

    .post_video_container iframe, .responsive-object iframe  {
        height: 300px;
    }

    .post_related_area .main_posts_grid {
        padding-left: 10px;
        padding-right: 10px;
    }

    .post_related_area .main_posts_grid .main_grid_single {
        width: 100%;
        max-width: none;
        height: 145px;
        border: none;
    }

    .post_related_area .main_posts_grid .grid_img_container {
        width: 145px;
        height: 145px;
    }

    .post_related_area .main_posts_grid .main_grid_single_info {
        vertical-align: top;
        width: 60%;
        padding: 10px 0 0 5px;
        word-wrap: break-word;
    }

    .post_related_area .main_posts_grid .main_grid_single_info p {
        font-size: 18px;
    }

}

@media screen and (max-width: 350px) {
    .post_related_area .main_posts_grid .grid_img_container {
        width: 100px;
        height: 100%;
    }
}