.tags_main_container {
    text-align: center;
    padding-top: 30px;
}

h4 {
    color: #000000;
    font-family: PFRegal-Bold;
    font-size: 35px;
    margin: 0;
    padding-bottom: 20px;
}

.main_posts_grid {
    padding-top: 40px !important;
}

.tags_posts_area {
    position: relative;
    padding-bottom: 190px;
    background: #e84070;
}

.tags_posts_area .endless_container {
    bottom: 60px;
}
