h4 {
    color: #9d9d9c;
    font-family: Neutra-Demi;
    font-size: 25px;
}

.main_posts_grid {
    padding-top: 40px !important;
}

.tags_posts_area {
    margin-bottom: 80px;
    position: relative;
    padding-bottom: 110px;
    background: #f7f6f6;
}

@media screen and (max-width: 500px) {
    .tags_posts_area {
        background: #ffffff;
    }
}